<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="static/plugin/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/sb-admin-2.css">
    <link rel="stylesheet" href="static/styles/timeline.css">
    <link rel="stylesheet" href="static/styles/toaster/toaster.min.css">
    <link rel="stylesheet" href="static/plugin/metisMenu/dist/metisMenu.min.css">
    <link rel="stylesheet" href="static/plugin/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- endbuild -->
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="static/plugin/jquery/dist/jquery.min.js"></script>
    <script src="static/plugin/angular/angular.min.js"></script>
    <script src="static/plugin/toaster/toaster.min.js"></script>
    <script src="static/plugin/angular-cookies/angular-cookies.min.js"></script>
    <script src="static/plugin/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/plugin/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="static/plugin/json3/lib/json3.min.js"></script>
    <script src="static/plugin/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="static/plugin/metisMenu/dist/metisMenu.min.js"></script>
    
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="static/app.js"></script>
        <script src="static/constant/constant.js"></script>
        <script src="static/services/service.js"></script>
        <script src="static/controller/mainController.js"></script>


        
        <script src="static/plugin/sbadmin/sb-admin-2.js"></script>
    <!-- endbuild -->


    <!--
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->
    <!-- Custom CSS -->

    <!-- Custom Fonts -->

    <!-- Morris Charts CSS -->
    <!-- <link href="styles/morrisjs/morris.css" rel="stylesheet"> -->


    </head>
	   
    <body ng-app="MEANDemo">
	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
    <div>

        <div ui-view></div>

    </div>

    </body>

</html>
